@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 0.8rem;
  height: 0.8rem;
  border-width: thin;
  position: absolute;
  left: 5%;
}
input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 8%;
}
input::-webkit-datetime-edit {
  position: relative;
  left: 10%;
}
.chart_view:hover > main{
    transform: translateY(-2.5em);
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
